.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}







.main-footer {
  padding: 40px 20px;
  background-color: #fff;
}

.footer-blue-box {
  background-color: #3f51b5; 
  border-radius: 25px;
  padding: 40px;
  display: flex;
  justify-content: space-between;
  color: white;
  gap: 30px;
}

.footer-logo-row {
  display: flex;
  align-items: center;
  gap: 15px;
}

.footer-logo {
  width: 60px;
  height: 60px;
  background: white;
  border-radius: 50%;
}

.footer-title h4 {
  margin: 0;
  text-transform: uppercase;
  font-size: 1rem;
}

.orange-text {
  color: #ff9800;
  margin: 0;
  font-weight: bold;
}

.footer-divider {
  border: 0;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  margin: 20px 0;
}

.icon-circle {
  width: 35px;
  height: 35px;
  background: #f57c00; 
  border-radius: 50%;
  display: inline-block;
}

.links-grid {
  display: flex;
  gap: 40px;
}

.link-column {
  display: flex;
  flex-direction: column;
  gap: 12px;
  color: white;
}

.map-container {
  display: flex;
  justify-content: flex-end;
}

.footer-map {
  width: 100%;
  max-width: 350px;
  border-radius: 15px;
  border: 4px solid white;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  font-size: 12px;
  color: #666;
}